<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
    <table>
        <thead>
        <tr>
            <th><wicket:message key="attribute_id"/></th>
            <th><wicket:message key="collection"/></th>
            <th><wicket:message key="property"/></th>
            <th><wicket:message key="old_value"/></th>
            <th><wicket:message key="new_value"/></th>
            <th><wicket:message key="locale"/></th>
        </tr>
        </thead>
        <tbody>
        <tr wicket:id="log_changes">
            <td wicket:id="attribute_id"></td>
            <td wicket:id="collection"></td>
            <td wicket:id="property"></td>
            <td wicket:id="old_value"></td>
            <td wicket:id="new_value"></td>
            <td wicket:id="locale"></td>
        </tr>
        </tbody>
    </table>
</wicket:panel>
</html>