<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <table>
                <tr>
                    <th>
                        <wicket:message key="permissions"/><b class="blue">*</b>:
                    </th>
                    <td>
                        <select wicket:id="organizationPicker">
                            <option></option>
                        </select>
                    </td>
                </tr>
            </table>
        </wicket:panel>
    </body>
</html>
