<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <div>
                <input type="submit" wicket:message="value:save" wicket:id="submit" class="btnMiddle"/>
                <input type="button" wicket:message="value:cancel" wicket:id="cancel" class="btnMiddle"/>
            </div>
        </wicket:panel>
    </body>
</html>
