<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PspPersonSuite" verbose="1" >
    <test name="AddressNumberParserTest">
        <classes>
            <class name="org.complitex.pspoffice.person.util.AddressNumberParserTest"/>
        </classes>
    </test>
</suite>
