<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div wicket:id="personLabelContainer">
                            <span wicket:id="personLabel"></span>
                            <a wicket:id="personLink">
                                <span wicket:id="personLinkLabel"></span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <span style="margin-left: 10px;">
                            <a wicket:id="choose" class="person_picker_choose_link">
                                <wicket:message key="choose"/>
                            </a>
                        </span>
                    </td>
                </tr>
            </table>

            <div wicket:id="lookupDialog" wicket:message="title:lookup_dialog_title" style="display: none;">
                <div wicket:id="content">
                    <div>
                        <form action="#" wicket:id="filterForm" class="person-picker-search-form">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="5px">
                                            <tr>
                                                <td align="center">
                                                    <wicket:message key="last_name"/>
                                                </td>
                                                <td align="center">
                                                    <wicket:message key="first_name"/>
                                                </td>
                                                <td align="center">
                                                    <wicket:message key="middle_name"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span wicket:id="lastName"></span>
                                                </td>
                                                <td>
                                                    <span wicket:id="firstName"></span>
                                                </td>
                                                <td>
                                                    <span wicket:id="middleName"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <div style="width: 152px;">
                                            <input type="button" wicket:id="find" class="btnMiddle person-picker-search-button"
                                                   wicket:message="value:find" style="margin-left: 10px;"/>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <div wicket:id="personContainer">
                        <div wicket:id="personNotFoundContainer" style="padding-top: 10px; text-align: center; width: 80%;">
                            <h3>
                                <wicket:message key="person_not_found"/>
                            </h3>
                        </div>

                        <div wicket:id="personsDataContainer" style="padding-top: 15px;">
                            <table class="tbColor" border="0" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <wicket:message key="full_name"/>
                                        </th>
                                        <th>
                                            <wicket:message key="birth_date"/>
                                        </th>
                                        <th>
                                            <wicket:message key="gender"/>
                                        </th>
                                        <th>
                                            <wicket:message key="id_code"/>
                                        </th>
                                        <th>
                                            <wicket:message key="document"/>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody wicket:id="radioGroup">
                                    <tr wicket:id="persons">
                                        <td>
                                            <input type="radio" wicket:id="radio"/>
                                        </td>
                                        <td>
                                            <span wicket:id="fullName"></span>
                                        </td>
                                        <td>
                                            <span wicket:id="birthDate"></span>
                                        </td>
                                        <td>
                                            <span wicket:id="gender"></span>
                                        </td>
                                        <td>
                                            <span wicket:id="idCode"></span>
                                        </td>
                                        <td>
                                            <span wicket:id="document"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div style="padding-top: 20px;">
                        <input type="button" wicket:id="select" wicket:message="value:select" class="btnMiddle"/>
                        <input type="button" wicket:id="createNew" wicket:message="value:create_new" class="btnMiddle"/>
                        <input type="button" wicket:id="cancel" wicket:message="value:cancel" class="btnMiddle"/>
                    </div>
                </div>
            </div>

            <div wicket:id="personCreationDialog" wicket:message="title:person_creation_dialog_title" style="display: none;">
                <div wicket:id="personEditContainer">
                    <div wicket:id="personEditPanel"></div>
                </div>
            </div>
        </wicket:panel>
    </body>
</html>
