<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PersonSuite" verbose="1" >
    <test name="FullNameParserTest">
        <classes>
            <class name="org.complitex.pspoffice.person.strategy.util.FullNameParserTest"/>
        </classes>
    </test>
</suite>
