.ModificationType_ADD {
    border: solid #99FF99;
}

.ModificationType_CHANGE {
    border: solid blue;
}

.ModificationType_REMOVE {
    border: solid #FF8888;
}

.history_button {
    width: 32px; 
    height: 32px; 
    border: 0;
    cursor: pointer;
}

.history_back_button {
    float: left;
    background: url('backImage.png') no-repeat;
}

.history_forward_button {
    float: right;
    background: url('forwardImage.png') no-repeat;
}

#history_buttons {
    position: fixed; 
    left: 50%; 
    bottom: 0; 
    background-color: #E0E4E9;
    border-radius: 11px 11px 0 0;
    border: 2px solid black;
    border-bottom-width: 0;
    width: 80px;
    padding-top: 1px;
}

#load_indicator {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    background: url('loadImage.gif') no-repeat;
}